html, body {
	padding: 0;
	margin: 0;
	font-family: 'Old Standard TT', serif;
	letter-spacing: 2px;
	
}

body {
	background-image: url("https://images3.alphacoders.com/782/thumb-1920-782477.jpg");
	background-color: #1f253c;
}
img {
    position: relative;
    float: left;
    width:  100px;
    height: 500px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

h1, .subtitle {
	text-align: center;
}

.topnav {
	background-color: #1f253c;
	overflow: hidden;
	padding-top: 40px;
	opacity: 0.97;
	display: flex;
	align-items: center;
	min-width: 
	
}

.topnav a {
	float: left;
	color: #c9dfff;
	text-align: center;
	padding: 20px 20px;
	padding-right: 50px;
	text-decoration: none;
	font-size: 17px;
}

#brandtext {
	font-family: 'Dancing Script', cursive;
	font-size: 3rem;
}

main {
	padding-left: 2vw;
	color: white;
}

.jumbotron {
	margin: 100px;
	opacity: 0.97;
	padding: 32px;
	background: #1f253c;
	color: #c9dfff;
	min-width: 426px;
}

#homejumbo {
	background: #1f253c;
	color: #c9dfff;
}

#indexjumbo {
	background: #1f253c;
	color: #c9dfff;
	padding-bottom: 10px;
}

#viewall:hover {
	color: green;
	transition: color .6s;
}

#addnew:hover {
	color: red;
	transition: color .6s;
}

#search:hover{
	color: green;
	transition: color .6s;
}

.card-header, .card-body {
	color: black;
}

.border-danger {
	border: solid red .4em;
}

#showbtn {
	display: flex;
}

#editbtn {
	z-index: 1;
	width: 100%;
}

#deletebtn {
	display: none;
}

.btn {
	font-weight: 700;
	font-size: 1.3rem;
}

.cardi{
	display: flex;
}

.imageholder {
	background: gold;
	height:200px;
	width:200px;
	margin: 1em;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}