html, body {
	padding: 0;
	margin: 0;
	font-family: 'Old Standard TT', serif;
	letter-spacing: 2px;
	
}

body {
	background-image: url("https://images3.alphacoders.com/782/thumb-1920-782477.jpg");
	background-color: #1f253c;
}

h1, .subtitle {
	text-align: center;
}

.topnav {
	background-color: #1f253c;
	overflow: hidden;
	padding-top: 40px;
	opacity: 0.97;
	display: flex;
	align-items: center;
	min-width: 
	
}

.topnav a {
	float: left;
	color: #c9dfff;
	text-align: center;
	padding: 20px 20px;
	padding-right: 50px;
	text-decoration: none;
	font-size: 17px;
}

#brandtext {
	font-family: 'Dancing Script', cursive;
	font-size: 3rem;
}

main {
	padding-left: 2vw;
	color: white;
}

.jumbotron {
	margin: 100px;
	opacity: 0.97;
	padding: 32px;
	background: #1f253c;
	color: #c9dfff;
}

#homejumbo {
	background: #1f253c;
	color: #c9dfff;
}

#indexjumbo {
	background: #1f253c;
	color: #c9dfff;
	padding-bottom: 10px;
}

#viewall:hover {
	color: green;
	transition: color .6s;
}

#addnew:hover {
	color: red;
	transition: color .6s;
}

#search:hover{
	color: green;
	transition: color .6s;
}

.card-header, .card-body {
	color: black;
}

.border-danger {
	border: solid red .4em;
}

#showbtn {
	display: flex;
}

#editbtn {
	z-index: 1;
	width: 100%;
}

#deletebtn {
	display: none;
}

.btn {
	font-weight: 700;
	font-size: 1.3rem;
}