<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Christmas DeLights</title>
<link rel="stylesheet" href="/css/main.css" />
</head>
<body>

	<div th:replace="fragments/head :: nav"></div>

<main>
	<h1>Edit the Destination</h1>
	<div class="home-card">
		<div class="row">
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<p th:text="${home.getStreetAddress()}"/>
							<p th:text="${home.getCity()}" />
							<p th:text="${home.getZipCode()}" />
						</div>
						<div class="panel-body">
							<p th:text="${home.getRating()}" />
							<p th:text="${home.getFeatures()}" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

</body>
</html>