<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="fragments/head :: bootstrapHeader"></div>
<div th:replace="fragments/lights :: light"></div>
</head>
<body>
	<iframe src="audio.mp3" allow="autoplay" id="audio" style="display:none"></iframe>
	<audio id="player" autoplay loop>
    <source src="audio.mp3" type="audio/mp3">
</audio>
	<div th:replace="fragments/head :: nav"></div>

	<div class="container">
		<div class="jumbotron" style="align-content:center">
		 <div class="row justify-content-center">
			<div class="col-8">
			<h1><strong>Welcome to Christmas Delights</strong></h1>
			<p>Lighten up your night this season by visiting one of our many Christmas DeLight
				Destinations!</p>
			
		</div>
	</div>
	</div>
	</div>
	
	<div th:replace="fragments/head :: bootstrapFooter"></div>
</body>

</html>