<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="fragments/head :: bootstrapHeader"></div>
<div th:replace="fragments/lights :: light"></div>
</head>
<body>
	<div th:replace="fragments/head :: nav"></div>

	<div class="container">
		<div class="jumbotron" style="align-content:center">
			<h1>Welcome to Christmas Delights!</h1>


			<p>Lighten up your night by visiting one of our Christmas DeLight
				Destinations!</p>
			
		</div>
	</div>
	
	<div th:replace="fragments/head :: bootstrapFooter"></div>
</body>

</html>