<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: bootstrapHeader"></div>
     <div th:replace="fragments/lights :: light"></div>
</head>
<body>

<div th:replace="fragments/head :: nav"></div>

<div class="container">
		<div class="jumbotron center" id="indexjumbo">
		<h2>View All Destinations</h2>
    <div th:each="home : ${homes}">
        <div class="home-card">
            <div class="card border-danger solid">
			    	<div class="card-header bg-white text-purple">
			    		<h3><span th:text="${home.getStreetAddress()}"></span>, <span th:text="${home.getCity()}"></span>
			    		<span  th:text="${home.getZipCode()}"></span>
			    		<span style="float:right">Rating: <span class="card-title" th:text="${home.getRating()}"></span></span></h3>
			    	</div>
			    	</div>
			    </div>   
            <a class="btn btn-success btn-block" th:href="@{/home/show/{id}(id=${home.getId()})}">View</a>
            <p></p>
            <div>
        </div>
    </div>
</div>
</div>

	<div th:replace="fragments/head :: bootstrapFooter"></div>
	<script src="http://localhost:8080/scripts/sort.js"></script>
</body>
</html>