<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: bootstrapHeader"></div>
     <div th:replace="fragments/lights :: light"></div>
</head>
<body>

<div th:replace="fragments/head :: nav"></div>

<div class="container">
		<div class="jumbotron center">
		<h2>View All Destinations</h2>
    <div th:each="home : ${homes}">
        <div class="home-card">
            <div class="card border-danger solid">
			    	<div class="card-header bg-white text-red">
			    		<h2><span th:text="${home.getStreetAddress()}"></span>, <span th:text="${home.getCity()}"></span>
			    		<span  th:text="${home.getZipCode()}"></span></h2>
			    	</div>
			    	<div class="card-body">
			    		Rating: <span class="card-title" th:text="${home.getRating()}"></span><p></p>
			    		Features: <span class="card-text" th:text="${home.getFeatures()}"></span>
			    	</div>
			    </div>   
            <a class="btn btn-success btn-block" th:href="@{/home/show/{id}(id=${home.getId()})}">View</a>
            <p></p>
            <div></div>
        </div>
    </div>
</div></div>

	<div th:replace="fragments/head :: bootstrapFooter"></div>
</body>
</html>