<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmas DeLights</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

<div th:replace="fragments/head :: nav"></div>

<main>
    <div th:each="home : ${homes}">
        <div class="home-card">
            <p th:text="${home.toString()}"></p>    
            <a th:href="@{/home/show/{id}(id=${home.getId()})}">go here</a>
        </div>
    </div>
</main>

</body>
</html>