<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="fragments/head :: bootstrapHeader"></div>
<div th:replace="fragments/lights :: light"></div>
</head>
<body>
	<div th:replace="fragments/head :: nav"></div>

	<div class="container">
		<div class="jumbotron" id="homejumbo" style="align-content: center">
			<h1>Choose a Search Option</h1>

			<form action="/home/search">
				<input type="radio" name="searchOption" value="city" checked>City<br>
				<input type="radio" name="searchOption" value="zipCode">Zip Code<br>
				<input type="radio" name="searchOption" value="rating">Rating
				<a type="btn btn-success" href="/home/searchCity">Search</a>
			</form>

		</div>
	</div>

	<div th:replace="fragments/head :: bootstrapFooter"></div>
</body>

</html>