<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments/head :: bootstrapHeader"></div>
	 <div th:replace="fragments/lights :: light"></div>
</head>
<body>

	<div th:replace="fragments/head :: nav"></div>

	<main>
	<h1>Edit or Delete the Destination</h1>
	<div class="home-card">
		<div class="row">
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<p th:text="${home.getStreetAddress()}"/>
							<p th:text="${home.getCity()}" />
							<p th:text="${home.getZipCode()}" />
						</div>
						<div class="panel-body">
							<p th:text="${home.getRating()}" />
							<p th:text="${home.getFeatures()}" />
						</div>
						<a class="btn btn-primary" th:href="@{/home/edit/{id}(id=${home.getId()})}">Edit</a>
						
						<form action="#" th:action="@{/home/show/{id}(id=${home.getId()})}" th:method="delete" class="form-horizontal">
							<button type="submit" class="btn btn-danger btn-block">Delete</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
	<div th:replace="fragments/head :: bootstrapFooter"></div>
</body>
</html>